@model List<crmmonitor>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Button trigger modal -->
<button type="button" id="showedit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" hidden>
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">ปรับสถานะงาน </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="jobid" hidden/>
                    <div class="col-6">
                        <label for="ownerid" class="form-label">Assign To </label>
                        <select id="ownerid" class="form-select" aria-label="Default select example">
                          @*   <option selected>Open this select menu</option>
                            <option value="1">One</option> *@
                            @if (ViewData["ownerid"] != null)
                            {
                                var ownerid = ViewData["ownerid"] as List<owner_id>;
                                for (int i = 0; i < ownerid.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                       <option value="" selected>- ไม่แก้ไข -</option>
                                    }
                                    else
                                    {
                                        <option value="@ownerid[i].user_id">@(ownerid[i].fullname + " " + ownerid[i].lastname) </option>
                                    }
                                }
                            }

                        </select>
                    </div>
                     <div class="col-6">
                        <label for="jobstatus" class="form-label">Status Job</label>
                        <select id="jobstatus" class="form-select" aria-label="Default select example">
                            @if(ViewData["substatus"] != null)
                            {
                                var substatus = ViewData["substatus"] as List<tbm_substatus>;
                                for (int i = 0; i < substatus.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <option value="@substatus[i].id" selected>@(substatus[i].STATUS_DESCRIPTION) </option>
                                    }
                                    else
                                    {
                                        <option value="@substatus[i].id">@(substatus[i].STATUS_DESCRIPTION) </option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="remark" class="form-label">Remark</label>
                        <textarea class="form-control" id="remark" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updatestatus()">Save</button>
            </div>
        </div>
    </div>
</div>
<form class="row g-3" asp-action="Index" asp-controller="Home" method="post" asp-antiforgery="true">
    <div class="row m-2">
        <div class="col-auto">
            <label for="customer_name" class="visually-hidden">customer name</label>
            <input type="text" readonly class="form-control-plaintext float-end text-end" id="customer_name" value="customer name">
        </div>
        <div class="col-auto">
            <label for="inputfname" class="visually-hidden">customer name</label>
            <input type="text" class="form-control" id="inputfname" name="fname" placeholder="customer name">
        </div>
        <div class="col-auto">
            <label for="Job" class="visually-hidden">Job id</label>
            <input type="text" readonly class="form-control-plaintext float-end text-end" id="Job" value="Job id">
        </div>
        <div class="col-auto">
            <label for="job_id" class="visually-hidden">Job id</label>
            <input type="text" class="form-control" id="Job_id" name="job_id" placeholder="Job id">
        </div>
        
    </div>
    <div class="row m-2">
        <div class="col-auto">
            <label for="Owner" class="visually-hidden">Owner</label>
            <input type="text" readonly class="form-control-plaintext float-end text-end" id="Owner" value="Owner">
        </div>
        <div class="col-auto">
            <select class="form-select" id="owner_id" name="owner_id" aria-label="Default select example">
                <option value="" selected>ALL</option>
                @if (ViewData["ownerid"] != null)
                {
                    var ownerid = ViewData["ownerid"] as List<owner_id>;
                    for (int i = 0; i < ownerid.Count; i++)
                    {
                        <option value="@ownerid[i].user_id">@(ownerid[i].fullname + " " + ownerid[i].lastname) </option>
                    }
                }
            </select>
        </div>
        <div class="col-auto">
            <label for="SubStatus" class="visually-hidden">SubStatus</label>
            <input type="text" readonly class="form-control-plaintext float-end text-end" id="SubStatus" value="SubStatus">
        </div>
        <div class="col-auto">
            <select class="form-select" id="job_status_code" name="job_status_code" aria-label="Default select example">
                <option value="" selected>ALL</option>
                @if (ViewBag.Substatus != null)
                {
                    var substatus = ViewBag.Substatus as List<tbm_substatus>;
                    for (int i = 0; i < substatus.Count; i++)
                    {
                        <option value="@substatus[i].STATUS_CODE">@substatus[i].STATUS_DESCRIPTION</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row m-2">     
        <div class="d-flex justify-content-center">
            <button id="search" type="submit" class="btn btn-primary m-3">Search</button>
            <button type="submit" class="btn btn-danger m-3">clear</button>
        </div>
    </div>   
</form>
<table id="renderdata" class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Website </th>
            <th scope="col">Contract </th>
            <th scope="col">Position </th>
            <th scope="col">email </th>
            <th scope="col">Mobile </th>
            <th scope="col">Owner </th>
            <th scope="col">Model Types </th>
            <th scope="col">Location </th>
            <th scope="col">People </th>
            <th scope="col">Status </th>
            <th scope="col">Priority </th>
            <th scope="col">Deal creation date </th>
            <th scope="col">Due date follow up </th>
            <th scope="col">Deal value </th>
            <th scope="col">% </th>
            <th scope="col">Won</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <tr ondblclick="showedit('@Model[i].job_id')">
                    <th scope="row">@(i + 1)</th>
                    <td>@Model[i].fname </td>
                    <td>@Model[i].website </td>
                    <td>@Model[i].contract </td>
                    <td>@Model[i].position </td>
                    <td>@Model[i].email </td>
                    <td>@Model[i].phone_no </td>
                    <td>@Model[i].owner </td>
                    <td>@Model[i].Model_type </td>
                    <td>@Model[i].location_name </td>
                    <td>@Model[i].People </td>
                    @if (Model[i].job_status_code == "C")
                    {
                        <td class="table-success">@Model[i].job_status_desc</td>
                    }
                    else
                    {
                        <td  class="table-warning">@Model[i].job_status_desc</td>
                    }
                    <td>@Model[i].Priority</td>
                    <td>@Model[i].Deal_creation_date </td>
                    <td>@Model[i].Due_date_follow_up </td>
                    <td>@Model[i].Deal_value </td>
                    <td>@Model[i].Percen </td>
                    <td>-</td>                  
                    @if (Model[i].job_substatus is null)
                    {                      
                        <td ondblclick="showedit(@Model[i].job_id)">-</td>
                    }else
                    {
                        var noti = @Model[i].job_substatus[0].STATUS_CODE == "END" ? "success" : "warning";
                        <td class="table-@noti">@string.Format("{0} {1}",Model[i].job_substatus[0].CREATE_BY,Model[i].job_substatus[0].STATUS_DT)</td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>ไม่พบข้อมูล</tr>
        }
    </tbody>
</table>
@section Scripts {

    <script defer >
    const init =()=>{
            new DataTable('#renderdata');
            $("#owner_id").select2({
                theme: "bootstrap-5",
            });
            $("#job_status_code").select2({
                theme: "bootstrap-5",
            });
        }
        $(document).ready(function () {
            init();
        });
    const showedit =(jobid)=>{
            $('#jobid').val(jobid)
            $('#staticBackdropLabel').text(`ปรับสถานะงาน ${jobid}`)
            $('#showedit').click()
    }
    const updatestatus =()=>{
            $.ajax({
                url: '@Url.Action("UpdateStatus", "Home")',
                type: 'POST',
                dataType: 'json',
                data: {
                    jobid: $('#jobid').val(),
                    userid: $('#ownerid').val(),
                    statusid: $('#jobstatus').val(),
                    remark: $('#remark').val()
                },
                success: function (response) {
                    
                    if (response.success) {
                       
                        Swal.fire("Saved!", "", "success");
                        
                        setTimeout(function () {
                            //your code to be executed after 1 second
                            $('#closemodal').click()
                            $('#search').click()
                        }, 3000);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: response.error
                        });
                    }
                   
                },
                error: function () {

                }
            });
           
    }
    </script>

}
